*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    }

body {
    background-color: #808080;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    width: 375px;
    background-color: #f4f4f4;
    
}
header{
    background-color: #1b83e2;
    height: 66px; 
    align-items: center;
    justify-content: center;
    display: flex;

}

h1{
    font-size: 24px;
    color: #f4f4f4;
    
}

.logo{
    width: 300px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    color:#777777;
    font-weight: 400;
    font-size: 14px;
}

select{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius:4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    margin-bottom: 24px;
    padding-left: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    }

input{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius:4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
}

button {
    background:#772FD3;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-top: 24px;
    margin-bottom: 36px;
   
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

section {
    border: 1px solid #772FD3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
    


.currency-box {
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3px;
}

.currency {
    color: #777777;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.currency.value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}



